#windy {
  width: 100%;
  height: 90vh;
  //top: 0;
  //left: 0;
  //position: relative;
}

#windy #bottom,
#windy #mobile-ovr-select {
//#windy #embed-zoom {
  display: none !important;
}

#windy #logo-wrapper {
  display: none !important;
  //top: initial;
  //bottom: 65px;
}

#windy #logo-wrapper #logo {
  display: none !important;
  //left: 80px;
}
